<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="plat">
      <h2 data-cy="platDetailsHeading"><span jhiTranslate="myblogApp.plat.detail.title">Plat</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ plat.id }}</span>
        </dd>
        <dt><span jhiTranslate="myblogApp.plat.name">Name</span></dt>
        <dd>
          <span>{{ plat.name }}</span>
        </dd>
        <dt><span jhiTranslate="myblogApp.plat.prix">Prix</span></dt>
        <dd>
          <span>{{ plat.prix }}</span>
        </dd>
        <dt><span jhiTranslate="myblogApp.plat.restaurant">Restaurant</span></dt>
        <dd>
          <div *ngIf="plat.restaurant">
            <a [routerLink]="['/restaurant', plat.restaurant?.id, 'view']">{{ plat.restaurant?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/plat', plat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
