<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="livreur">
      <h2 data-cy="livreurDetailsHeading"><span jhiTranslate="myblogApp.livreur.detail.title">Livreur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ livreur.id }}</span>
        </dd>
        <dt><span jhiTranslate="myblogApp.livreur.name">Name</span></dt>
        <dd>
          <span>{{ livreur.name }}</span>
        </dd>
        <dt><span jhiTranslate="myblogApp.livreur.cooplocal">Cooplocal</span></dt>
        <dd>
          <div *ngIf="livreur.cooplocal">
            <a [routerLink]="['/cooplocal', livreur.cooplocal?.id, 'view']">{{ livreur.cooplocal?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/livreur', livreur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
