<div>
  <h2 id="page-heading" data-cy="CoopnationalHeading">
    <span jhiTranslate="myblogApp.coopnational.home.title">Coopnationals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myblogApp.coopnational.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-coopnational"
        [routerLink]="['/coopnational/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myblogApp.coopnational.home.createLabel"> Create a new Coopnational </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="coopnationals?.length === 0">
    <span jhiTranslate="myblogApp.coopnational.home.notFound">No coopnationals found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="coopnationals && coopnationals.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="myblogApp.coopnational.id">Id</span></th>
          <th scope="col"><span jhiTranslate="myblogApp.coopnational.name">Name</span></th>
          <th scope="col"><span jhiTranslate="myblogApp.coopnational.cooplocal">Cooplocal</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coopnational of coopnationals; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/coopnational', coopnational.id, 'view']">{{ coopnational.id }}</a>
          </td>
          <td>{{ coopnational.name }}</td>
          <td>
            <div *ngIf="coopnational.cooplocal">
              <a [routerLink]="['/cooplocal', coopnational.cooplocal?.id, 'view']">{{ coopnational.cooplocal?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/coopnational', coopnational.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/coopnational', coopnational.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(coopnational)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
