<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cooplocal">
      <h2 data-cy="cooplocalDetailsHeading"><span jhiTranslate="myblogApp.cooplocal.detail.title">Cooplocal</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="myblogApp.cooplocal.id">Id</span></dt>
        <dd>
          <span>{{ cooplocal.id }}</span>
        </dd>
        <dt><span jhiTranslate="myblogApp.cooplocal.name">Name</span></dt>
        <dd>
          <span>{{ cooplocal.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cooplocal', cooplocal.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
